body {
    font-size: 24px;
}

#main{
    margin-top : 90px;
    border: 2px solid green;
    padding : 20px;
    line-height: 2;
}

#main input, select{
                height: 20px;
                style :none;
                padding: 5px;
		display: inline-block;
  		float: left;
  		margin-left: 15px;
                border-radius: 5px;
                border: 1px solid gray;
}
#subBtn {
    width: 10%;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 500px;
    text-align: right;
}
